# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [531]:
# importing the required li
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [532]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
d.maximize_window()

In [569]:
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]
na=d.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')[0:30]# we are taking the data from the child class
for i in na:
    nam=i.text
    rank.append(nam)
na=d.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')[0:30]
for i in na:
    nam=i.text
    name.append(nam)    
na=d.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')[0:30]
for i in na:
    nam=i.text
    artist.append(nam)
na=d.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')[0:30]
for i in na:
    nam=i.text
    upload_date.append(nam)    
na=d.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')[0:30]
for i in na:
    nam=i.text
    views.append(nam)

In [571]:
df=pd.DataFrame({'Rank of the song':rank,'Name of the song ':name,'Name of the artist':artist,'Uploaded date ':upload_date,'Views of teh video':views})
df

,Rank of the song,Name of the song,Name of the artist,Uploaded date,Views of teh video
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)

B) Series
C) Place
D) Date
E) Time

In [52]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [53]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.bcci.tv/.')
d.maximize_window()

In [54]:
internatl=d.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
internatl.click()

In [55]:
match_title=[]
series=[]
place=[]
date=[]
time=[]
titl=d.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in titl:
    ti=i.text
    match_title.append(ti)
dat=d.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for l in dat:
    da=l.text
    date.append(da)
tie=d.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]') 
for w in tie:
    tim=w.text
    time.append(tim)
pl=d.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]') 
for g in pl:
    pla=g.text.split('-')[1]
    place.append(pla)
seri=d.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]') 
for b in seri:
    serie=b.text.split('-')[0]
    series.append(serie)

In [56]:
df=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match Title,Series,Place,Date,Time
0,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,4th T20I,"Steyn City School Ground, Pretoria",2 JAN 2023,5:15 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Wankhede Stadium, Mumbai",3 JAN 2023,7:00 PM IST
2,INDIA WOMEN U19 TOUR OF SOUTH AFRICA WOMEN U19,5th T20I,"Steyn City School Ground, Pretoria",4 JAN 2023,1:30 PM IST
3,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I,"Maharashtra Cricket Association Stadium, Pune",5 JAN 2023,7:00 PM IST
4,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I,"Saurashtra Cricket Association Stadium, Rajkot",7 JAN 2023,7:00 PM IST
5,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,"Barsapara Cricket Stadium, Guwahati",10 JAN 2023,1:30 PM IST
6,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"Eden Gardens, Kolkata",12 JAN 2023,1:30 PM IST
7,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Greenfield International Stadium, Thiruvanant...",15 JAN 2023,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [792]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import ElementNotInteractableException

In [793]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.guru99.com/')
d.maximize_window()

In [794]:
search_bar=d.find_element(By.XPATH,'//input[@class="gsc-input"]')
search_bar.send_keys('selenium exception handling ')

In [795]:
search_button=d.find_element(By.XPATH,'//button[@class="gsc-search-button gsc-search-button-v2"]')
search_button.click()

In [796]:
path=d.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
path.click()

In [804]:
name=[]
na=d.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/p[8]')
for i in na:
    nam=i.text
    name.append(nam)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div/div/div/main/div/article/div/div/p[8]"}
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x0051F243]
	(No symbol) [0x004A7FD1]
	(No symbol) [0x0039D04D]
	(No symbol) [0x003CC0B0]
	(No symbol) [0x003CC22B]
	(No symbol) [0x003FE612]
	(No symbol) [0x003E85D4]
	(No symbol) [0x003FC9EB]
	(No symbol) [0x003E8386]
	(No symbol) [0x003C163C]
	(No symbol) [0x003C269D]
	GetHandleVerifier [0x007B9A22+2655074]
	GetHandleVerifier [0x007ACA24+2601828]
	GetHandleVerifier [0x005C8C0A+619850]
	GetHandleVerifier [0x005C7830+614768]
	(No symbol) [0x004B05FC]
	(No symbol) [0x004B5968]
	(No symbol) [0x004B5A55]
	(No symbol) [0x004C051B]
	BaseThreadInitThunk [0x766E00F9+25]
	RtlGetAppContainerNamedObjectPath [0x770E7BBE+286]
	RtlGetAppContainerNamedObjectPath [0x770E7B8E+238]

In [101]:
na

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [259]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [260]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('http://statisticstimes.com')
d.maximize_window()

In [261]:
economy=d.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [268]:
india=d.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
india.get_attribute('href')
india.click()

In [272]:
rank=[]
state=[]
gsdp18_19=[]
gsdp19_20=[]
share=[]
gdp_billion=[]

rw=d.find_elements(By.XPATH,'//tr[@role="row"]')
for i in rw[2:33]:
    ro=i.text.split(' ')[1]
    state.append(ro)
for i in rw[2:33]:
    ro=i.text.split(' ')[0]
    rank.append(ro)

for i in rw[2:33]:
    ro=i.text.split(' ')[2]
    gsdp19_20.append(ro)

for i in rw[2:33]:
    ro=i.text.split(' ')[3]
    gsdp18_19.append(ro)
for i in rw[2:33]:
    ro=i.text.split(' ')[4]
    share.append(ro) 
for i in rw[2:33]:
    ro=i.text.split(' ')[5]
    gdp_billion.append(ro)

In [273]:
df=pd.DataFrame({'Rank':rank,'State':state,'GSDP(18-19)':gsdp18_19,'GSDP19_220':gsdp19_20,'Share':share,'GDP($ BILLION)':gdp_billion})
df

   Rank         State GSDP(18-19) GSDP19_220      Share GDP($ BILLION)
0     1   Maharashtra   2,632,792          -     13.94%        399.921
1     2         Tamil   1,845,853       Nadu  1,630,208          8.63%
2     3         Uttar   1,687,818    Pradesh  1,584,764          8.39%
3     4       Gujarat   1,502,899          -      7.96%        228.290
4     5     Karnataka   1,493,127  1,631,977      7.91%        226.806
5     6          West   1,253,832     Bengal  1,089,898          5.77%
6     7     Rajasthan     942,586  1,020,989      4.99%        143.179
7     8        Andhra     972,782    Pradesh    862,957          4.57%
8     9     Telangana     861,031    969,604      4.56%        130.791
9    10        Madhya     906,672    Pradesh    809,592          4.29%
10   11        Kerala     781,653          -      4.14%        118.733
11   12         Delhi     774,870    856,112      4.10%        117.703
12   13       Haryana     734,163    831,610      3.89%        111.519
13   14         Bihar     530,363    611,804      2.81%         80.562
14   15        Punjab     526,376    574,760      2.79%         79.957
15   16        Odisha     487,805    521,275      2.58%         74.098
16   17         Assam     315,881          -      1.67%         47.982
17   18  Chhattisgarh     304,063    329,180      1.61%         46.187
18   19     Jharkhand     297,204    328,598      1.57%         45.145
19   20   Uttarakhand     245,895          -      1.30%         37.351
20   21         Jammu     Kashmir          &          -        155,956
21   22      Himachal     165,472    Pradesh    153,845          0.81%
22   23           Goa      73,170     80,449      0.39%         11.115
23   24       Tripura      49,845     55,984      0.26%          7.571
24   25    Chandigarh      42,114          -      0.22%          6.397
25   26    Puducherry      34,433     38,253      0.18%          5.230
26   27     Meghalaya      33,481     36,572      0.18%          5.086
27   28        Sikkim      28,723     32,496      0.15%          4.363
28   29       Manipur      27,870     31,790      0.15%          4.233
29   30      Nagaland      27,283          -      0.14%          4.144
30   31     Arunachal           -    Pradesh     24,603          0.13%

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [433]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [572]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get(' https://github.com/')
d.maximize_window()

In [573]:
search_bar=d.find_element(By.XPATH,'//input[@data-test-selector="nav-search-input"]')
search_bar.send_keys('trending repositories')
search_bar.click()

In [593]:
rep_titles=[]
description=[]
contributors=[]
language=[]
t=d.find_elements(By.XPATH,'//a[@class="v-align-middle"]')
for i in t:
    to=i.text
    rep_titles.append(to)
dis=d.find_elements(By.XPATH,'//p[@class="mb-1"]')
for i in dis:
    disp=i.text
    description.append(disp)
lan=d.find_elements(By.XPATH,'//div[@class="d-flex flex-wrap text-small color-fg-muted"]')
for i in lan:
    lang=i.text.split('\n')[1]
    language.append(lang)
cont=d.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[7]')
for i in cont:
    con=i.text
    contributors.append(con)

In [527]:
df=pd.DataFrame({'titles':rep_titles,'Description':description,'Language':language})
df

,titles,Description,Language
0,vitalets/github-trending-repos,Track GitHub trending repositories in your fav...,HTML
1,mbadry1/Trending-Deep-Learning,Top 100 trending deep learning repositories so...,Python
2,QasimWani/LeetHub,Automatically sync your leetcode solutions to ...,JavaScript
3,Semigradsky/trending-repositories,⭐ This is a list of repositories that were tre...,JavaScript
4,laowch/GithubTrends,It's a GitHub Trending repositories Viewer wit...,Java
5,ophobe/trending,Dataset of trending repositories on GitHub,"Updated on Aug 16, 2020Aug 16, 2020"
6,zhuowenli/githuber,Display Github Trending repositories on Chrome...,JavaScript
7,ecrmnn/trending-github,📈 Simple API for getting trending repositorie...,TypeScript
8,andygrunwald/TrendingGithub,A twitter bot (@TrendingGithub) to tweet trend...,Go
9,andygrunwald/go-trending,Go library for accessing trending repositories...,Go

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [ ]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [604]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https:/www.billboard.com/')
d.maximize_window()

In [605]:
chart=d.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
chart.click()

In [606]:
view_chart=d.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_chart.click()

In [648]:
name=[]
na=d.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]')
for i in na:
    nam=i.text.split('\n')[0]
    name.append(nam)
artist=[]
for i in na:
    nam=i.text.split('\n')[1]
    artist.append(nam)
lawera=[]
for i in na:
    nam=i.text.split('\n')[3]
    lawera.append(nam)
pera=[]
for i in na:
    nam=i.text.split('\n')[4]
    pera.append(nam)  
weonch=[]
for i in na:
    nam=i.text.split('\n')[5]
    weonch.append(nam)

In [650]:
df=pd.DataFrame({'Song name':name,'Artist name':artist,'Last week rank':lawera,'Peak rank':pera,'Weeks on board':weonch})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,1,All I Want For Christmas Is You,1,1,57
1,2,Rockin' Around The Christmas Tree,2,2,51
2,3,Jingle Bell Rock,4,3,48
3,4,A Holly Jolly Christmas,5,4,31
4,5,Last Christmas,6,5,30
...,...,...,...,...,...
95,96,RE- ENTRY,Jimmie Allen,-,88
96,97,One Thing At A Time,81,37,3
97,98,Hold Me Closer,89,6,17
98,99,Far,61,61,2
99,100,All Mine,95,42,20

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [ ]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [651]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.naukri.com/hr-recruiters-consultants')
d.maximize_window()

In [664]:
search_bar=d.find_element(By.XPATH,'//input[@class="sugInp"]')
search_bar.send_keys('Data Science')
search_icon=d.find_element(By.XPATH,'//button[@id="qsbFormBtn"]')
search_icon.click()

In [666]:
loc=d.find_element(By.XPATH,'/html/body/div[3]/div/div[1]/div/form/div[2]/div[1]/a[3]/em[2]')
loc.click()

In [702]:
name=[]
company=[]
na=d.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in na[0:25]:
    nam=i.text
    name.append(nam)
location=[]
loc=d.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for  i in loc[0:25]:
    loct=i.text
    location.append(loct)
companys=[]
com=d.find_elements(By.XPATH,'//a[@class="ellipsis"]')
for i in com[0:25]:
    comp=i.text
    companys.append(comp)

skills=[]
sk=d.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in sk[0:25]:
    skl=i.text
    skills.append(skl)

In [704]:
df1=pd.DataFrame({'Name':name,'Location':location,'company':companys,'Skills and Role':skills})
df1df1=pd.DataFrame({'Namw':name,'Location':location,'comapany'})

,Name,Location,company,Skills and Role
0,Aakash Harit,Delhi,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Hyderabad / Secunderabad,Data Science Network,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Pune,shravan Kumar Gaddam,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Ahmedabad,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,UK - (london),MARSIAN Technologies LLP,"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Vadodara / Baroda,MARSIAN Technologies LLP,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Chennai,Anik Agrawal,Data Science
7,Balu Ramesh,Trivandrum,Enerlytics Software Solutions Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Indore,subhas patel,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Bengaluru / Bangalore,LibraryXProject,"Software Development, It Sales, Account Manage..."
10,Kalpana Dumpala,Hyderabad / Secunderabad,Abhishek - Only Analytics Hiring - India and,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
11,Mubarak,Bengaluru / Bangalore,Apidel Technologies Division of Transpower,"Business Intelligence, Data Warehousing, Data ..."
12,Kushal Rastogi,Mumbai,Institute for Financial Management and Resear,"Office Administration, Hr Administration, tele..."
13,Mahesh Babu Channa,Hyderabad / Secunderabad,IFMR,"Social Media, digital media maketing, seo, smm..."
14,Vaishnavi Kudalkar,Mumbai,Balu Ramesh,"Data Science, Python, Data Analytics"
15,Priyanka Akiri,Hyderabad,Techvantage Systems Pvt Ltd,"Oracle Dba, Data Science, Data Warehousing, ET..."
16,Kapil Devang,Bhopal,Asif Lucknowi,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Chandigarh,Weupskill- Live Wire India,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Pune,InstaFinancials,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,Navi Mumbai,CBL Data Science Private Limited,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Cochin,Kalpana Dumpala,Data Science
21,Rashmi Bhattacharjee,Delhi,Innominds Software,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,Hyderabad / Secunderabad,Mubarak,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,Pune,MoneyTap,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,Pune,Kushal Rastogi,"Big Data, Data Science, Artificial Intelligenc..."

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-
compare/

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [ ]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [706]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
d.maximize_window()

In [730]:
list1=[]
head=d.find_elements(By.XPATH,'//td[@class="left"]')
for i in head:
    list1.append(i.text)
name=[]
for i in range(1,500,5):
    name.append(list1[i])
author=[]
for i in range(2,500,5):
    author.append(list1[i])
volume_sold=[]
for i in range(3,500,5):
    volume_sold.append(list1[i])
publisher=[]
for i in range(4,500,5):
    publisher.append(list1[i])
genre=[]
gen=d.find_elements(By.XPATH,'//td[@class="last left"]')
for i in gen:
    gre=i.text
    genre.append(gre)

In [734]:
df2=pd.DataFrame({'Book name':name,'Author name':author,'Volume_sold':volume_sold,'Publisher':publisher,'Genre':genre})
df2

,Book name,Author name,Volume_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [ ]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [735]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://www.imdb.com/list/ls095964455/ ')
d.maximize_window()

In [758]:
movie_name=[]
name=d.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in name:
    ne=i.text.split('(')[0]
    movie_name.append(ne)
year_of_release=[]
for i in name:
    na=i.text.split('(')[1]
    year_of_release.append(na)
votes=[]
vote=d.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vote:
    vt=i.text
    votes.append(vt)
runtime=[]
ru=d.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in ru:
    rt=i.text
    runtime.append(rt)
rating=[]
rat=d.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
for i in rat:
    re=i.text.split('\nRate')[0]
    rating.append(re)
genre=[]
ge=d.find_elements(By.XPATH,'//span[@class="genre"] ')
for i in ge:
    gee=i.text
    genre.append(gee)

In [760]:
df3=pd.DataFrame({'Series_name':movie_name,'Year of release':year_of_release,'Voting':votes,'Run time':runtime,'Rating':rating,'GENRE':genre})
df3

,Series_name,Year of release,Voting,Run time,Rating,GENRE
0,1. Game of Thrones,2011–2019),"2,100,254",57 min,9.2,"Action, Adventure, Drama"
1,2. Stranger Things,2016– ),"1,190,515",51 min,8.7,"Drama, Fantasy, Horror"
2,3. The Walking Dead,2010–2022),"994,233",44 min,8.1,"Drama, Horror, Thriller"
3,4. 13 Reasons Why,2017–2020),"294,244",60 min,7.5,"Drama, Mystery, Thriller"
4,5. The 100,2014–2020),"253,345",43 min,7.6,"Drama, Mystery, Sci-Fi"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),"50,378",42 min,7.4,Drama
96,97. A Series of Unfortunate Events,2017–2019),"61,989",50 min,7.8,"Adventure, Comedy, Drama"
97,98. Criminal Minds,2005– ),"199,956",42 min,8.1,"Crime, Drama, Mystery"
98,99. Scream: The TV Series,2015–2019),"41,715",45 min,7.1,"Comedy, Crime, Drama"
99,100. The Haunting of Hill House,2018),"247,010",572 min,8.6,"Drama, Horror, Mystery"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [762]:
# importing the required libabries
import selenium
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver 
from selenium.webdriver.common.by import By
import time

In [761]:
d=webdriver.Chrome(r'C:\Users\Admin\Downloads\chromedriver_win32.exe')
d.get('https://archive.ics.uci.edu/ ')
d.maximize_window()

In [764]:
all=d.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
all.click()

In [786]:
name=[]
types=[]
task=[]
attribute=[]
instances=[]
noofattributes=[]
year=[]
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')[1:623]
for i in table:
    tl=i.text
    name.append(tl)
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')[1:623]
for i in table:
    te=i.text
    types.append(te)
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')[1:623]
for i in table:
    te=i.text
    task.append(te) 
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')[1:623]
for i in table:
    te=i.text
    attribute.append(te)     
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')[1:623]
for i in table:
    te=i.text
    instances.append(te) 
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')[1:623]
for i in table:
    te=i.text
    noofattributes.append(te) 
table=d.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')[1:623]
for i in table:
    te=i.text
    year.append(te)

In [787]:
len(name),len(types),len(task),len(attribute),len(instances),len(noofattributes),len(year)

(622, 622, 622, 622, 622, 622, 622)

In [791]:
df6=pd.DataFrame({'DataSet Name':name,'Data Type':types,'Task':task,'Attribute type':attribute,'No of Instances':instances,'No of Attributes':noofattributes,'Year':year})
df6

,DataSet Name,Data Type,Task,Attribute type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021